name: Java CI com Maven

on: 
  push:
    branches: [ "master" ]
    
jobs: 
  build: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK 21
      uses: actions/setup-java@v4
      with: 
        java-version: '21' 
        distribution: 'correto'
        cache: maven
    - name :  Build com maven
      run: mvn -B package --file pom.xml
